#content{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . .";
    grid-template-rows: 20% auto 20%;
    height: 100vh;

    >div{
        grid-area: content;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #F0F0F0;
        

        svg{
            // width: 50%;
            
        }

        #star, #circ{
            visibility: hidden;
        }
    }


}