#section-1{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center-top;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center top;
    

    
    >h1{
        padding-top: 36px;
    }
}