/* =============
    Buttons
============= */

.cta{
    border: none;
    background-color: #821122;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    padding: 20px 25px;
    cursor: pointer;
    
}