/* =============
    Buttons
============= */

.cta{
    border: none;
    background-color: #a83252;
    text-decoration: none;
    color: #ffffff;
    padding: 16px 16px;
    cursor: pointer;
    
}